# --- ARCHIVOS LOCALES Y CONFIGURACIÓN PERSONAL ---
local.properties
.gradle/
.idea/
*.iml
*.hprof
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
captures/

# --- ARCHIVOS DE COMPILACIÓN ---
build/
app/build/
*/build/

# --- FIREBASE Y SEGURIDAD (¡CRÍTICO!) ---
# Nunca subir llaves de API o archivos de configuración con secretos
app/google-services.json

# --- SISTEMA ---
.DS_Store
Thumbs.db
